aiogram>=3.20,<4
SQLAlchemy>=2.0,<3
asyncpg>=0.29,<1
aiosqlite>=0.20,<1
cryptography>=43,<48
python-dotenv>=1,<2
aiohttp>=3.10,<4
httpx>=0.27,<1

# PlayerokAPI runtime dependencies
requests>=2.31.0
curl-cffi>=0.13.0
wrapper-tls-requests>=1.1.4
websocket-client>=1.8.0
websockets>=12,<16
packaging>=23
setuptools>=70

playerokapi @ git+https://github.com/alleexxeeyy/PlayerokAPI.git@58a077d2cc2045f39b84de1092f7caa0950b74fd
